.header {
  position: relative;
  background: #f8f8f8;
  padding: 15px 0;
}
.header__profile {
  text-align: center;
  a {
    width: 100px;
    height: 100px;
    display: inline-block;
    img {
      @include vendor(border-radius, 50%);
    }
  }
}
#carbonads-container {
  position: absolute;
  top: -10px;
  left: 0;
  @media screen and (min-width: 300px) and (max-width: 850px) {
    display: none;
  }
}
.carbonad {
  border: 0 !important;
  background: transparent !important;
}
