.sidebar {
  @include position(fixed, 0px 0 0px 0px);
  text-align: center;
  background: #f5f6f5;
  height: 100%;
  width: 340px;
}
.sidebar__profile {
  margin: 40px 0;
  a {
    display: inline-block;
  }
}
.sidebar__profile-img {
  @include vendor(border-radius, 50%);
  display: inline-block;
  width: 100px;
  height: 100px;
}
.sidebar__profile-name {
  font-size: 30px;
  margin: 10px 0;
}
.sidebar__profile-bio {
  margin: 0;
  p {
    font-size: 14px;
    line-height: 1.3;
    margin: 0;
    a {
      font-weight: 900;
    }
  }
}
.sidebar__profile-social {
  margin: 20px 0 10px;
  height: 28px;
}
.sidebar__profile-nav {
  ul {
    li {
      font-size: 12px;
      display: inline-block;
      border-right: 1px solid #ccc;
      &:last-child {
        border-right: 0;
      }
      a {
        font-weight: 900;
        display: block;
        padding: 2px 8px;
      }
    }
  }
}
