.sidebar {
  font-size: 12px;
  text-align: center;
  width: 320px;
  color: $white;
  background: $primary;
  @include position(fixed, 0px 0 0px 0px);
  a {
    color: $white;
  }
  p {
    a {
      border-bottom: 2px solid rgba(255,255,255,.2);
    }
  }
}
.sidebar__module {
  padding: 25px 25px 0;
}
.sidebar__profile {
  width: 130px;
  height: 130px;
  display: inline-block;
}
.sidebar__icon {
  font-size: 24px;
  margin: 0 8px;
}
.sidebar__nav {
  ul {
    overflow: hidden;
  }
  li {
    float: left;
    width: 50%;
    a {
      display: block;
      padding: 5px;
      background: $primary-dark;
      &:hover {
        background: darken($primary-dark, 2%);
      }
    }
  }
}
