.posts {

}
/* ul */.posts__list {
  margin: 10px 0;
  li {
    a {
      position: relative;
      overflow: hidden;
      color: #444;
      display: block;
    }
  }
}
.posts__date {
  background: #0086b3;
  padding: 5px 10px;
  margin: 15px 0 0;
  font-weight: 900;
  color: #fff;
  @include position(absolute, 0px 0px 0 0);
  @media screen and (min-width: 300px) and (max-width: 850px) {
    position: static;
    font-size: 12px;
  }
}
.posts__title {
  margin: 20px 165px 20px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  @media screen and (min-width: 300px) and (max-width: 850px) {
    margin: 20px 0 10px;
    font-size: 16px;
    white-space: normal;
  }
}
.full-post {
  position: relative;
  padding: 20px 0;
}
.full-post__date {
  text-align: center;
  p {
    display: inline-block;
    background: #0086b3;
    padding: 5px 10px;
    margin: 0;
    font-weight: 900;
    color: #fff;
  }
}
.full-post__title {
  @media screen and (min-width: 300px) and (max-width: 850px) {
    font-size: 22px;
  }
  a {
    display: block;
    font-size: 12px;
  }
}
.download-box {
  a {
    display: inline-block;
    background: #0086b3;
    padding: 8px 20px;
    color: #fff;
    font-weight: 900;
    margin: 10px 10px 10px 0;
  }
}
/**
 * Social
 */
.social {
  padding:20px;
  background:#f9f9f9;
  margin:30px 0 50px;
}
.social__button {
  display:inline-block;
  vertical-align:top;
  zoom:1;
  width:100px;
  height:20px;
}

/**
 * Disqus
 */
.disqus {
  margin:0 0 50px;
}

/**
 * Fluid videos
 */
.screencast {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  iframe {
    z-index: 0;
    width: 100%;
    height: 100%;
    @include position(absolute, 0px 0 0 0px);
  }
}

/**
 * About
 */
.about__talk {
  background: #eee;
  float: left;
  width: 400px;
  margin: 0 20px 0 0;
  @media screen and (min-width: 300px) and (max-width: 750px) {
    float: none;
    width: 100%;
  }
  p {
    font-size: 12px;
    font-weight: 900;
    margin: 5px 10px;
  }
}

/**
 * Pagination
 */
.pagination {
  background: darken(#f8f8f8, 5%);
  color: darken(#f8f8f8, 35%);
  overflow: hidden;
  a,
  span {
    padding: 15px 25px;
    display: inline-block;
    zoom: 1;
  }
  a {
    color: darken(#f8f8f8, 50%);
    &:hover {
      color: darken(#f8f8f8, 70%);
    }
  }
}
.pagination--previous {
  float: left;
  width: 50%;
}
.pagination--next {
  text-align: right;
  float: right;
  width: 50%;
}
