#carbonads-container {
  @include position(absolute, 0 0 10px 20px);
}
.carbonad {
  border: 0 !important;
  background-image: 0 !important;
  background: 0 !important;
}
.twitter-follow-button {
  visibility: hidden;
  &[data-twttr-rendered=true] {
    visibility: visible;
  }
}
