@media only screen and (min-width:320px) and (max-width:768px) {
  .sidebar,
  .main {
    width: 100%;
    margin: 0;
    position: relative !important;
  }
  .carbon--module {
    display: none !important;
  }
  .sidebar__nav {
    li {
      width: 50%;
      a {
        padding: 10px;
      }
    }
  }
  .sidebar__profile {
    width: 100px;
    height: 100px;
  }
  .full-post {
    padding: 25px;
  }
  .posts__list li a {
    padding: 15px 25px;
  }
  .posts__title {
    font-size: 16px;
  }
  .hidden--tablet {
    display: none;
  }
}
@media only screen and (min-width:600px) and (max-width:768px) {
  .sidebar__bio {
    padding: 5px 80px;
  }
  .sidebar__nav {
    li {
      width: 25% !important;
    }
  }
}
@media only screen and (min-width:768px) {
  .ios .sidebar {
    position: absolute !important;
  }
}
