@media only screen and (max-width: 900px) {
  .sidebar {
    position: static;
    width: 100%;
  }
  .sidebar__profile {
    margin: 10px 0;
  }
  .sidebar__profile-name {
    font-size: 26px;
  }
  .sidebar__profile-bio,
  .sidebar__profile-social,
  #carbonads-container {
    display: none;
  }
  .main {
    margin: 0;
  }
  .posts__title {
    font-size: 18px;
  }
  .post,
  .page {
    padding: 0 15px 15px;
  }
}
