* {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  @include vendor(box-sizing, border-box);
}
html {
  font-size: 62.5%;
  background: $primary;
}
body {
  font: 300 14px/1.6 'Helvetica Neue', Helvetica, Arial;
  color: $primary;
}
a img {
  border: 0;
}
img {
  border: 0;
  max-width: 100%;
  vertical-align: bottom;
}
pre {
  white-space: pre;
}
a,
a:hover,
a:visited,
a:active {
  color: $primary;
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4 {
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-weight: normal;
}
h1 {

}
h2 {

}
h3 {
  font-size: 22px;
  border-bottom: 1px solid #eee;
  padding: 0 0 15px;
}
