* {
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
  -webkit-font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
  @include vendor(box-sizing, border-box);
}
html {
  font-size:62.5%;
}
body {
  font: 400 15px/1.5 'Helvetica Neue', Helvetica, Arial;
  background: #fff;
  color: #444;
}
a {
  color: #444;
  font-weight: 900;
  text-decoration: none;
}
img {
  vertical-align: bottom;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -1px;
  margin: 0;
  padding: 0;
}
h1 {
  letter-spacing: -2px;
}
h6 {
  font-size: 15px;
  margin: 10px 0 0;
  border-bottom: 1px solid #eee;
}
