/**
 * CarbonAds
 */
#carbonads-container {

}
.carbonad {
  border:0 !important;
  background:transparent !important;
}

/**
 * Text Selection
 */
::selection {
  background: #fe57a1;
  color: $white;
  text-shadow: none;
}
::-moz-selection {
  background: #fe57a1;
  color: $white;
  text-shadow: none;
}
::-webkit-selection {
  background: #fe57a1;
  color: $white;
  text-shadow: none;
}
