<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <base href="/assets/">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="HTML5, JavaScript, AngularJS.">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href="//www.google-analytics.com" rel="dns-prefetch">
    <link href="//plus.google.com/104675806858920385950" rel="author">
    <link href="css/style.min.css" rel="stylesheet">

    <script>
    (function () {
      document.documentElement.className = 'js';
      var supportsSVG = function () {
        return !! document.createElementNS && !! document.createElementNS('http://www.w3.org/2000/svg','svg').createSVGRect;
      };
      if (supportsSVG()) document.documentElement.className += ' svg';
    })();
    </script>

  </head>
  <body class="clear">
    
    <script>
    (function (a) {
      var bsa = a.createElement('script');
      bsa.async = bsa.src = '//s3.buysellads.com/ac/bsa.js';
      a.body.appendChild(bsa);
    })(document);
    </script>

    <header class="header" role="banner">
      <nav class="nav" role="navigation">
        <ul>
          <li>
            <a href="/">
              Latest
            </a>
          </li><!--
          --><li>
            <a href="/about">
              About
            </a>
          </li><!--
          --><li>
            <a href="/downloads">
              Downloads
            </a>
          </li><!--
          --><li>
            <a href="/contact">
              Contact
            </a>
          </li>
        </ul>
      </nav>
    </header>
