      <!-- sidebar -->
      <aside class="sidebar clear" role="complementary">

        <div class="sidebar__module">
          <img src="img/todd.jpg" alt="Todd Motto" class="sidebar__todd">
          <p class="sidebar__bio">
            Todd Motto, lead front-end engineer at <a href="//www.appsbroker.com">Appsbroker</a> (hiring, ask me).
            HTML5, JavaScript, AngularJS, CSS3. <a href="//conditionizr.com">Conditionizr</a>, <a href="//getfireshell.com">FireShell</a>,
            <a href="//html5blank.com">HTML5 Blank</a>.
          </p>
        </div>

        <div class="sidebar__module">
          <a href="//github.com/toddmotto" class="sidebar__icon">
            <i class="icon-github"></i>
          </a>
          <a href="//twitter.com/toddmotto" class="sidebar__icon">
            <i class="icon-twitter"></i>
          </a>
          <a href="//facebook.com/toddmottoblog" class="sidebar__icon">
            <i class="icon-facebook"></i>
          </a>
          <a href="//gittip.com/toddmotto" class="sidebar__icon">
            <i class="icon-gittip"></i>
          </a>
          <a href="//feeds.feedburner.com/toddmotto" class="sidebar__icon">
            <i class="icon-rss"></i>
          </a>
        </div>

        <div class="sidebar__module carbon--module">
          <div id="carbonads-container">
            <div class="carbonad">
              <div id="azcarbon"></div>
            </div>
          </div>
        </div>

        <div class="sidebar__module">
          <div class="fb-like" data-href="http://facebook.com/toddmottoblog" data-send="false"
            data-width="100" data-show-faces="false" data-colorscheme="light"></div>
            <div id="fb-root"></div>
            <a href="//twitter.com/toddmotto" class="twitter-follow-button" data-show-count="true">
              Follow @toddmotto
            </a>
        </div>

      </aside>
      <!-- /sidebar -->
