{% include header.html %}
			
			<!-- main -->
			<div class="main" role="main">
				{{ content }}
			</div>
			<!-- /main -->
			
{% include sidebar.html %}
			
{% include footer.html %}
		
		<script src="/ironman/js/scripts.js"></script>
		<script>
			var _gaq=[['_setAccount','UA-20440416-10'],['_setDomainName', 'toddmotto.com'],['_trackPageview']];
			(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
			g.src='//www.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g,s)})(document,'script');
		</script>
	</body>
</html>