{% include header.html %}

      <!-- main -->
      <main class="main" role="main">
        {{ content }}
      </main>
      <!-- /main -->

{% include footer.html %}

    <script src="js/scripts.min.js"></script>
    <script>window.location.hostname === 'localhost' && document.write('<script src="//localhost:35729/livereload.js"><\/script>');</script>
    <script>
      var _gaq=[['_setAccount','UA-20440416-10'],['_setDomainName', 'toddmotto.com'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)})(document,'script');
    </script>
  </body>
</html>
